<div [class.opacity-0]="!modalState" [class.pointer-events-none]="!modalState"
     class="z-10 modal fixed w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50" (click)="onCloseModal()"></div>

  <div class="bg-white-200 modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div style="max-height: 75vh" class="modal-content py-12 text-left px-8">
      <!--Title-->
      <div class="flex justify-between items-center">
        <div class="modal-close cursor-pointer z-50" (click)="onCloseModal()">
          <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
          </svg>
        </div>
      </div>

      <!--Body-->

      <header class="text-xl text-center font-semibold p-3">
        Contactanos al WhatsApp!
      </header>
      
      <content class="rounded px-2 pt-4 mb-2 flex flex-col mb-2">
        
        <form class="-mx-3 md:flex mb-6" (submit)="onSubmitWhatsApp()" [formGroup]="form">
            <div class="md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
                Nombre
              </label>
              <input formControlName="name" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-2 px-4 mb-3" 
              id="grid-first-name" type="text" placeholder="Jose Pineda">
              <!-- <p class="text-red text-xs italic">Please fill out this field.</p> -->
            </div>
            <div class="md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
                Telefono
              </label>
              <input formControlName="phone" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-2 px-4" 
              id="grid-last-name" type="text" placeholder="04XX-XXXXXXX">
            </div>
            <div class="md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
                Correo
              </label>
              <input formControlName="email" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-2 px-4" 
              id="grid-last-name" type="text" placeholder="tu@correo.com">
            </div>
        </form>
        
      </content>

      <div *ngIf="data !== undefined">
        <content *ngFor="let item of data" class="hover:bg-gray-200 cursor-pointer grid grid-cols-6 border-t border-gray-300 p-3">
        
            <div>
              <img src="https://api-ferias.tusferias.com/uploads/images/menu/{{item.image}}" class="rounded-lg" />
            </div>
            
            <div class="ml-2 col-span-5 flex flex-col">
                {{item.name}}
              
              <p class="text-gray-400 text-sm">
                {{item.description}}
              </p>
            </div>
            
          </content>
      </div>

      <button type="submit" (click)="onSubmitWhatsApp()" class="text-center my-4 w-full text-white bg-green-400 hover:bg-green-600
      font-medium rounded-full text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700">
        <p class="text-lg">Continuar en WhatsApp <i class="fab fa-whatsapp"></i></p>
      </button>

      <!--Footer-->
      <div class="flex justify-end pt-2">
      </div>

    </div>
  </div>


</div>
