<div [class.opacity-0]="!modalState" [class.pointer-events-none]="!modalState"
     class="modal fixed w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50" (click)="onCloseModal()"></div>

  <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div style="max-height: 75vh; min-height: 25vh" class="modal-content py-12 text-left px-8">
      <!--Title-->
      <div class="flex justify-between items-center pb-1">
        <p class="text-2xl mx-auto font-bold">{{ title }}</p>
        <div class="modal-close cursor-pointer z-50" (click)="onCloseModal()">
          <i class="fas fa-times"></i>
        </div>
      </div>

      <!--Body-->

      <ng-content></ng-content>

      <!--Footer-->
      <div class="flex justify-end pt-2">
      </div>

    </div>
  </div>


</div>
