<div *ngIf="!isLoading" class="bg-gray-100">

  <app-top-navbar [data]="data" [z10]="!modalState"></app-top-navbar>

  <!-- Content -->
  <div class="p-3 space-y-4 z-0" *ngIf="data !== undefined">
    <h4 class="font-semibold mt-9">Categorias</h4>
    <div class="overflow-x-scroll flex items-stretch flex space-x-4">
      <div *ngFor="let category of data.category">
        <div class="mt-2">
          <div class="flex w-max">
            <button routerLink="categoria/{{category.id}}" class="border bg-white hover:bg-slate-200 py-2 px-4 rounded-full">
              <!-- <i class="fas fa-shopping-cart"></i> --> {{category.name}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <h4 class="font-semibold">Catalogo</h4>
    <div class="grid grid-cols-1">
      <div *ngFor="let menu of data.menu; let index=index" class="p-4 mt-auto mb-auto">
        <div *ngIf="menu.isActive === true" [class.mb-24]="menu.id === data.menu[data.menu.length - 1].id"
         class="bg-white rounded-lg border bg-white p-5">
         <div class="grid grid-cols-3">
            <div class="col-span-2 my-auto">
              <a (click)="onOpenModal(menu.title, menu.image, menu.price, menu.description, menu.currency)" href="javascript:;">
                <h3 class="text-xl font-bold tracking-tight text-gray-900">
                  {{menu.name}}
                </h3>
                <h3 class="text-lg tracking-tight text-gray-500 mt-1">
                  {{ menu.description.length > 115 ? menu.description.substring(0, 115) + '...' : menu.description }}
                </h3>
              </a>

              <div class="mt-2">
                <span class="text-lg text-gray-900">{{menu.price}} {{menu.currency}}</span>
                <a *ngIf="ids === undefined || !ids.includes(menu.id)" (click)="onAddToCart(menu)"
                  class="mx-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
                  font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
                  dark:focus:ring-blue-800">
                  <i class="fas fa-cart-plus"></i>
                </a>
                <a
                  *ngIf="ids !== undefined && ids.includes(menu.id)" (click)="onDeleteFromCart(menu)"
                  class="mx-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
                  font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
                  dark:focus:ring-blue-800">
                  <i class="fas fa-check"></i>
                </a>
              </div>

            </div>
            <div>
              <a (click)="onOpenModal(menu.title, menu.image, menu.price, menu.description, menu.currency)" href="javascript:;">
                <img class="my-auto object-cover rounded-t-lg" src="https://api.katalogo.vip/uploads/images/menu/{{menu.image}}" alt="{{menu.name}}" />
              </a>
            </div>
         </div>
      </div>
      
      </div>
    </div>
  
  </div>
  <div class="fixed w-full bottom-0 p-5 h-16 rounded-t-xl px-6 flex items-center justify-between bg-white border shadow-3xl text-gray-400 cursor-pointer">
    <!-- 
    <div class="flex flex-col items-center transition ease-in duration-200 hover:text-blue-400 ">
      <i class="fas fa-search fa-lg"></i>
    </div>
    -->
    <div class="flex flex-col items-center mx-auto hover:text-blue-400" (click)="onOpenWhatsAppModal()">
      <div
        class="absolute bottom-5 shadow-2xl text-center flex items-center justify-center rounded-full border-4 text-3xl hover:border-blue-700 
        border-blue-500 bg-blue-500 w-20 h-20 p-2 text-white transition ease-in duration-200 ">
        <i class="fas fa-shopping-basket"></i>
        <span *ngIf="ids != undefined" class="animate-ping bg-blue-400 absolute inline-flex h-full w-full rounded-full border-4 opacity-500"></span>
      </div>
    </div>
  </div>
  
  <app-modal-product [image]="product.image"
                     [price]="product.price"
                     [description]="product.description"
                     [title]="product.title"
                     [currency]="product.currency"
                     [modalState]="modalState" (close)="onCloseModal()"></app-modal-product>
  <app-contact-whatsapp 
  [modalState]="modalWhatsAppState" 
  [business]="data"
  [phone]="data.phone" [data]="cart" 
  (close)="onCloseWhatsAppModal()"></app-contact-whatsapp>
  

</div>
<div *ngIf="isLoading">
  <div class="grid h-screen place-items-center">
    <div class="newtons-cradle">
      <div class="newtons-cradle__dot"></div>
      <div class="newtons-cradle__dot"></div>
      <div class="newtons-cradle__dot"></div>
      <div class="newtons-cradle__dot"></div>
    </div>
  </div>
</div>