<div [class.h-18]="restaurant.address"
     [class.h-16]="!restaurant.address"
     class="realtive sticky top-0 w-full z-10 rounded-b-3xl bg-center cursor-pointer object-cover shadow-lg flex items-center justify-center"
     style="background-image:url('https://images.unsplash.com/photo-1622180203374-9524a54b734d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80')">
  <div class="px-3 rounded-lg flex flex-col w-full">
    <h4 class="text-white text-xl font-semibold  leading-tight truncate">{{restaurant.name}}
    </h4>
    <div class="flex justify-between items-center ">
      <div class="flex flex-col">
        <h2 class="text-sm flex items-center text-gray-100 font-normal" *ngIf="restaurant.address != undefined">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
          </svg>
          {{restaurant.address}}
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="sm:max-w-lg w-full px-10 pb-10 bg-white rounded-xl z-10">
  <div class="text-center">
    <h2 class="mt-1 text-2xl font-bold text-gray-900">
      Actualiza tu producto!
    </h2>
    <p class="mt-2 text-sm text-gray-400">Edita y actualiza {{product.name}}!</p>
    <img class="mx-auto h-64 w-64" *ngIf="product.image != ''" src="https://api-ferias.tusferias.com/uploads/images/menu/{{product.image}}">
  </div>
  <form class="mt-2 space-y-3" [formGroup]="form" (submit)="onSubmitData()">
    <div class="grid grid-cols-1 space-y-2">
      <label class="text-sm font-bold text-gray-500 tracking-wide">Nombre del producto</label>
      <input class="text-base p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
             type="text" formControlName="name" placeholder="Nombre del prodcuto.">
    </div>
    <div class="grid grid-cols-1 space-y-2">
      <label class="text-sm font-bold text-gray-500 tracking-wide">Precio</label>
      <input class="text-base p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
             type="text" formControlName="price" placeholder="Precio del producto.">
    </div>
    <div class="grid grid-cols-1 space-y-2">
      <label class="text-sm font-bold text-gray-500 tracking-wide">Moneda</label>
      <div>
        <div class="xl:w-96">
          <select formControlName="currency" class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white
            bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700
            focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
            <option selected disabled>Selecciona una moneda</option>
            <option value="Bs">Bolivares</option>
            <option value="USD">Dolares</option>
          </select>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 space-y-2">
      <label class="text-sm font-bold text-gray-500 tracking-wide">Categoria</label>
      <div>
        <div class="xl:w-96">
          <select formControlName="category" class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white
            bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700
            focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
            <option *ngFor="let category of categories" value="{{ category.id }}" [disabled]="category.id === product.category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 space-y-2">
      <label class="text-sm font-bold text-gray-500 tracking-wide">Descripcion</label>
      <textarea class="text-base p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
                formControlName="description" placeholder="Descripcion del producto."></textarea>
    </div>
    <div class="grid grid-cols-1 space-y-2">
      <label class="text-sm font-bold text-gray-500 tracking-wide">Adjuntar foto</label>
      <div class="flex items-center justify-center w-full">
        <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-30 p-10 group text-center">
          <input (change)="onFileChange($event)" formControlName="image" type="file" class="text-base p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500">
        </label>
      </div>
    </div>
    <div>
      <button type="submit"
              class="my-5 w-full flex justify-center bg-yellow-500 text-gray-100 p-4
                rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline
                hover:bg-yellow-600 shadow-lg transition ease-in duration-300"
              [disabled]="loading" [ngClass]="{'opacity-50': loading, 'cursor-not-allowed': loading}">
        <span *ngIf="!loading">Editar</span>
        <span *ngIf="loading">Cargando...</span>
      </button>
    </div>
  </form>
</div>
